
homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-2_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
data/application_train.csv
